# === idea ===
**/*.iml
/.idea/
/.run/

# === kotlin ===
/.kotlin/

# === gradle ===
**/.gradle/
**/local.properties

# === temp ===
**/build/
**/temp/
**/bin/
**/captures

# === signing ===
**/keystore/

# === OS specific ===
**/.DS_Store

# === native ===
**/.cxx/
**/captures/
**/.externalNativeBuild/
